PORT=7281

POSTGRES_DB=drones_api
POSTGRES_USER=drones
POSTGRES_PASSWORD=drones_password

DATABASE_URL="postgresql://drones:drones_password@localhost:5432/drones_api"
MASTER_KEY="your-secure-master-key-here"
 